@import "../../styles/_variables";

._orderbtn {
  background-color: $_primary_color;
  color: white;

  border-radius: 3px;
  padding: 5px 20px;
  border-color: transparent;
  font-size: 20px;
  font-weight: 900;
}
._scrollbtn {
  display: flex;
  justify-content: center;
  button {
    width: 100px;
    height: 100px;
    background-color: transparent;
   border-color: transparent;
    position: relative;
    svg{
      position: absolute;
      
      width: 100px;
      top: 0;
      right: 0;
      z-index: 0

    }
    ._scrollbtn_text{
      position: relative;
      z-index:12;
      color: white;
      font-style: italic;
    }
  }
}
