@import "../../styles/variables";
@import "../../styles/breakpoint";
._link {
  text-decoration: none !important;
  font-size: 18px;
}
._link:hover {
  color: $_primary_color;
  cursor: pointer;
}
._link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $_primary_color;
}
._navbar {
  height: 10vh;
  background-color: $_primary_background_color;
  border-bottom: solid 2px $_primary_color;
}
._menu_section {
  ._link {
    padding: 0 10px;
    margin: auto;
  }
  @include media("<laptop") {
    ._link {
      font-size: 16px;
      font-weight: bold;
    }
  }
  @include media("<tablet") {
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid $_primary_color;
    border-left: none;
    width: 100px;
    height: 100vh;
    background-color: white;
    z-index: 12;

    div {
      margin: auto;
      flex-direction: column;
      ._link {
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
._cartbtn {
  border: none;
  background-color: transparent;
  color: $_primary_color;
}
._star_nav {
  width: 20px;
}
.rotate {
  animation: rotation 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.dropdown-content {
  min-width: 100px;
  background-color: $_primary_background_color;
  overflow: auto;
  box-shadow: 0 8px 16px 0 $_primary_color;
  z-index: 11;
  right: 0;
  border-radius: 5px;
}
.dropdown_item {
  color: $_primary_color;
  text-decoration: none;
  padding: 10px 5px 10px;
}
.dropdown_item:hover {
  cursor: pointer;
  text-shadow: 2px 2px 4px $_primary_color;
  color: $_primary_color;
}
._hamburger {
  position: absolute;
  top: 20px;
  left: 10px;
  svg {
    width: 30px;
  }
  @include media(">=tablet") {
    display: none;
  }
}
._closebtn_div {
  display: none;
  top: 30px;
  left: 20px;
  z-index: 22;
  @include media("<tablet") {
    display: flex;
  }
}
._closebtn_svg {
  width: 35px;
}
